h1
{
	
	padding-top:20px;
	margin-top:20px;
	margin-bottom:20px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    color: #686868;
	font-size: 2.5em;
}

.cke_skin_richfaces {
	
	border-color: red;
}